Repository inovex/scrumlr.io, pull requests merged in 2021-09, with the labels that each got.

#624 Closes #592, closes #593, closes #596: Voting
  .eslintrc.json
  server/src/cloud/board.ts
  server/src/cloud/vote.ts
  server/src/index.ts
  server/src/model/init.ts
  src/api/index.ts
  src/api/vote.ts
  src/components/DotButton/DotButton.scss
  src/components/DotButton/DotButton.test.tsx
  src/components/DotButton/DotButton.tsx
  src/components/DotButton/__snapshots__/DotButton.test.tsx.snap
  src/components/DotButton/index.tsx
  src/components/IconButton/IconButton.scss
  src/components/MenuBars/MenuBars.test.tsx
  src/components/MenuBars/MenuBars.tsx
  src/components/MenuBars/MenuItem/MenuToggle.tsx
  src/components/Note/Note.scss
  src/components/Note/Note.test.tsx
  src/components/Note/Note.tsx
  src/components/Note/__snapshots__/Note.test.tsx.snap
  src/components/NoteDialog/NoteDialog.scss
  src/components/NoteDialog/NoteDialog.tsx
  src/components/Votes/Votes.scss
  src/components/Votes/Votes.test.tsx
  src/components/Votes/Votes.tsx
  src/components/Votes/__snapshots__/Votes.test.tsx.snap
  src/components/Votes/index.ts
  src/index.scss
  src/routes/Board/Board.tsx
  src/store/action/index.ts
  src/store/action/vote.ts
  src/store/index.ts
  src/store/middleware/board.ts
  src/store/middleware/vote.ts
  src/store/reducer/board.ts
  src/store/reducer/vote.ts
  src/types/board.ts
  src/types/store.ts
  src/types/vote.ts
Labels: Type: Enhancement, Status: Review Needed

#656 Fix bug where the voting hasn't been displayed correctly when author names are hidden
  src/components/Note/Note.scss
  src/components/NoteDialog/NoteDialog.scss
Labels: Type: Bug, Status: Review Needed

#652 Change HashRouter to BrowserRouter
  deployment/chart/Chart.lock
  deployment/chart/templates/dashboard/ingress.yaml
  deployment/chart/templates/frontend/ingress.yaml
  deployment/chart/templates/livequery/ingress.yaml
  deployment/chart/templates/server/ingress.yaml
  src/routes/Router.tsx
  src/store/reducer/board.ts
Labels: Type: Enhancement, Status: Review Needed

#684 Closes #586: Ability to unstack notes from stack
  .gitignore
  server/src/cloud/note.ts
  src/assets/icon-unstack.svg
  src/components/Note/Note.test.tsx
  src/components/Note/__snapshots__/Note.test.tsx.snap
  src/components/NoteDialog/NoteDialog.test.tsx
  src/components/NoteDialog/NoteDialog.tsx
Labels: Status: Review Needed

#691 Closes #681: Participants List
  src/components/BoardHeader/BoardHeader.scss
  src/components/BoardHeader/BoardHeader.tsx
  src/components/BoardHeader/ParticipantsList/ParticipantsList.scss
  src/components/BoardHeader/ParticipantsList/ParticipantsList.test.tsx
  src/components/BoardHeader/ParticipantsList/ParticipantsList.tsx
  src/components/BoardHeader/ParticipantsList/__snapshots__/ParticipantsList.test.tsx.snap
  src/components/BoardHeader/ParticipantsList/index.ts
  src/components/BoardUsers/BoardUser.scss
  src/components/BoardUsers/BoardUsers.scss
Labels: Status: Review Needed

#690 Closes #664, #665: Update voting phase
  src/components/Board/Board.test.tsx
  src/components/Note/Note.test.tsx
  src/components/Note/Note.tsx
  src/components/Note/__snapshots__/Note.test.tsx.snap
  src/components/NoteDialog/NoteDialog.tsx
  src/store/reducer/board.ts
  src/utils/votes.ts
Labels: Status: Review Needed

#692 Closes #661: Voting phase iterations
  server/src/cloud/board.ts
  server/src/cloud/vote.ts
  server/src/model/init.ts
  src/components/Board/Board.test.tsx
  src/components/Note/Note.test.tsx
  src/components/Votes/Votes.test.tsx
  src/routes/Board/Board.tsx
  src/store/reducer/board.ts
  src/types/board.ts
  src/types/vote.ts
Labels: Status: Review Needed

#709 Closes #682: Moderator toggle in participants list
  server/src/cloud/board.ts
  server/src/model/init.ts
  src/api/index.ts
  src/api/user.ts
  src/assets/icon-search.svg
  src/components/BoardHeader/BoardHeader.tsx
  src/components/BoardHeader/ParticipantsList/ParticipantsList.scss
  src/components/BoardHeader/ParticipantsList/ParticipantsList.test.tsx
  src/components/BoardHeader/ParticipantsList/ParticipantsList.tsx
  src/components/BoardHeader/ParticipantsList/__snapshots__/ParticipantsList.test.tsx.snap
  src/components/ToggleButton/ToggleButton.scss
  src/components/ToggleButton/ToggleButton.test.tsx
  src/components/ToggleButton/ToggleButton.tsx
  src/components/ToggleButton/__snapshots__/ToggleButton.test.tsx.snap
  src/components/ToggleButton/index.ts
  src/store/action/users.ts
  src/store/index.ts
  src/store/middleware/board.ts
  src/store/middleware/users.ts
  src/store/reducer/board.ts
  src/types/board.ts
Labels: Status: Review Needed

#713 Fix voting notification bug
  src/store/reducer/board.ts
Labels: Type: Bug

#728 Fix toggle button to always show the correct state
  src/components/BoardHeader/ParticipantsList/ParticipantsList.tsx
  src/components/ToggleButton/ToggleButton.test.tsx
  src/components/ToggleButton/ToggleButton.tsx
Labels: Type: Bug, Status: Review Needed

#602 Closes #165: Implement Cookie Consent
  package.json
  src/components/CookieNotice/CookieNotice.scss
  src/components/CookieNotice/CookieNotice.test.tsx
  src/components/CookieNotice/CookieNotice.tsx
  src/components/CookieNotice/CookiePolicy.scss
  src/components/CookieNotice/CookiePolicy.test.tsx
  src/components/CookieNotice/CookiePolicy.tsx
  src/components/CookieNotice/CookiePolicyText.md
  src/globals.d.ts
  src/index.tsx
  yarn.lock
Labels: Status: Blocked, Status: Work In Progress

#744 Closes #683: Hide notes of other users
  server/src/cloud/board.ts
  server/src/model/init.ts
  src/components/BoardHeader/HeaderMenu/HeaderMenu.tsx
  src/components/BoardHeader/HeaderMenu/__snapshots__/HeaderMenu.test.tsx.snap
  src/routes/Board/Board.tsx
  src/store/action/__tests__/board.test.ts
  src/store/reducer/board.ts
  src/types/board.ts
Labels: Status: Review Needed

#733 Improve tooltip animations of the ActionBar
  src/components/Board/Board.tsx
  src/components/MenuBars/MenuBars.scss
  src/components/MenuBars/MenuBars.tsx
  src/components/MenuBars/MenuItem/MenuItem.scss
  src/components/MenuBars/__snapshots__/MenuBars.test.tsx.snap
Labels: Status: Review Needed

#756 Closes #668, Closes #669, Closes #670: Timer
  server/src/cloud/board.ts
  src/api/board.ts
  src/components/Board/Board.tsx
  src/components/MenuBars/MenuBars.tsx
  src/components/MenuBars/MenuItem/MenuToggle.tsx
  src/components/MenuBars/__snapshots__/MenuBars.test.tsx.snap
  src/components/Timer/Timer.scss
  src/components/Timer/Timer.test.tsx
  src/components/Timer/Timer.tsx
  src/components/Timer/__snapshots__/Timer.test.tsx.snap
  src/components/Timer/index.ts
  src/routes/Board/Board.tsx
  src/store/action/__tests__/board.test.ts
  src/store/action/board.ts
  src/store/middleware/board.ts
  src/types/board.ts
  src/utils/timer.ts
Labels: Status: Review Needed

#702 Closes #662, #663: Vote configuration (backend)
  server/src/cloud.ts
  server/src/cloud/board.ts
  server/src/cloud/vote.ts
  server/src/cloud/voteConfiguration.ts
  server/src/index.ts
  server/src/model/init.ts
  src/api/board.ts
  src/api/index.ts
  src/api/voteConfiguration.ts
  src/components/MenuBars/MenuBars.tsx
  src/components/Note/Note.test.tsx
  src/components/Note/Note.tsx
  src/components/Note/__snapshots__/Note.test.tsx.snap
  src/components/NoteDialog/NoteDialog.test.tsx
  src/components/NoteDialog/NoteDialog.tsx
  src/components/Votes/Votes.test.tsx
  src/components/Votes/Votes.tsx
  src/routes/Board/Board.tsx
  src/store/action/__tests__/board.test.ts
  src/store/action/__tests__/voteConfiguration.test.ts
  src/store/action/board.ts
  src/store/action/index.ts
  src/store/action/voteConfiguration.ts
  src/store/index.ts
  src/store/middleware/__tests__/voteConfiguration.test.ts
  src/store/middleware/board.ts
  src/store/middleware/voteConfiguration.ts
  src/store/reducer/__tests__/voteConfiguration.test.ts
  src/store/reducer/board.ts
  src/store/reducer/voteConfiguration.ts
  src/types/board.ts
  src/types/store.ts
  src/types/voteConfiguration.ts
  src/utils/votes.ts
Labels: Status: Review Needed

#772 Closes #760: Css offset bug
  src/components/Board/Board.scss
  src/components/Column/Column.scss
Labels: Status: Review Needed

#778 Add `user: configurations` pair to board table
  server/src/cloud/board.ts
  server/src/model/init.ts
  src/store/reducer/board.ts
  src/types/board.ts
Labels: Status: Review Needed
