Repository inovex/scrumlr.io, pull requests merged in 2021-08, with the labels that each got.

#519 Chore: Resolve eslint warnings
  .eslintrc.json
  src/api/board.ts
  src/api/callApi.ts
  src/api/column.ts
  src/api/index.ts
  src/api/note.ts
  src/components/Board/Board.test.tsx
  src/components/Board/Board.tsx
  src/components/BoardHeader/BoardHeader.test.tsx
  src/components/BoardHeader/BoardHeader.tsx
  src/components/BoardHeader/HeaderLogo/HeaderLogo.tsx
  src/components/BoardUsers/BoardUser.tsx
  src/components/BoardUsers/BoardUsers.test.tsx
  src/components/BoardUsers/BoardUsers.tsx
  src/components/BoardUsers/UserAvatar.tsx
  src/components/Column/__tests__/Column.test.tsx
  src/components/JoinRequest/JoinRequest.test.tsx
  src/components/JoinRequest/JoinRequest.tsx
  src/components/JoinRequest/__snapshots__/JoinRequest.test.tsx.snap
  src/components/MenuBars/MenuBars.tsx
  src/components/MenuBars/MenuItem/MenuButton.tsx
  src/components/Note/Note.test.tsx
  src/components/Note/Note.tsx
  src/components/NoteInput/NoteInput.test.tsx
  src/constants/Name.ts
  src/routes/Board/Board.tsx
  src/routes/Board/BoardGuard.tsx
  src/routes/NewBoard/NewBoard.tsx
  src/routes/PrivateRoute.tsx
  src/routes/Router.tsx
  src/store/action/__tests__/board.test.ts
  src/store/action/__tests__/note.test.ts
  src/store/action/board.ts
  src/store/action/column.ts
  src/store/action/note.ts
  src/store/action/users.ts
  src/store/index.ts
  src/store/middleware/__tests__/column.test.ts
  src/store/middleware/__tests__/joinRequest.test.ts
  src/store/middleware/__tests__/note.test.ts
  src/store/middleware/board.ts
  src/store/middleware/boardJoinConfirmation.ts
  src/store/middleware/column.ts
  src/store/middleware/joinRequest.ts
  src/store/middleware/note.ts
  src/store/reducer/__tests__/joinRequest.test.ts
  src/store/reducer/__tests__/note.test.ts
  src/store/reducer/board.ts
  src/store/reducer/joinRequest.ts
  src/store/reducer/note.ts
  src/store/reducer/users.ts
  src/types/user.ts
  src/utils/Toast.tsx
  src/utils/authentication/AuthenticationManager.ts
Labels: Priority: Low, Status: Review Needed

#331 Closes #216, #217: Edit and Delete Notes
  .eslintrc.json
  package.json
  public/index.html
  src/assets/icon-delete.svg
  src/assets/icon-edit.svg
  src/components/Board/Board.test.tsx
  src/components/BoardHeader/BoardHeader.test.tsx
  src/components/IconButton/IconButton.scss
  src/components/IconButton/IconButton.tsx
  src/components/Note/Note.scss
  src/components/Note/Note.test.tsx
  src/components/Note/Note.tsx
  src/components/Note/__snapshots__/Note.test.tsx.snap
  src/components/NoteDialog/NoteDialog.scss
  src/components/NoteDialog/NoteDialog.tsx
  src/components/NoteInput/NoteInput.scss
  src/components/NoteInput/NoteInput.test.tsx
  src/components/NoteInput/NoteInput.tsx
  src/components/Portal/Portal.scss
  src/components/Portal/Portal.tsx
  src/constants/style.scss
  src/routes/Board/Board.tsx
  src/store/action/__tests__/board.test.ts
  src/store/action/__tests__/note.test.ts
  src/store/middleware/board.ts
  src/store/reducer/__tests__/note.test.ts
  src/store/reducer/note.ts
  yarn.lock
Labels: Status: Review Needed, Type: Enhancement

#590 Closes #588: Allow moderators to edit/delete other users notes
  src/components/Note/Note.test.tsx
  src/components/Note/Note.tsx
Labels: Status: Review Needed, Priority: Low

#579 Closes #575, #583: Drag and Drop notes to different columns
  package.json
  server/src/cloud/note.ts
  src/api/note.ts
  src/components/Board/Board.scss
  src/components/Board/Board.test.tsx
  src/components/Column/Column.scss
  src/components/Column/Column.tsx
  src/components/Column/__tests__/Column.test.tsx
  src/components/Note/Note.scss
  src/components/Note/Note.test.tsx
  src/components/Note/Note.tsx
  src/constants/style.scss
  src/index.tsx
  src/store/action/__tests__/note.test.ts
  src/store/action/note.ts
  src/store/middleware/__tests__/note.test.ts
  src/store/middleware/note.ts
  src/store/reducer/__tests__/note.test.ts
  src/store/reducer/note.ts
  src/types/note.ts
  yarn.lock
Labels: Type: Enhancement, Status: Review Needed

#619 Closes #584: Stacking of Notes
  server/src/cloud/note.ts
  server/src/model/init.ts
  src/api/note.ts
  src/components/Column/Column.tsx
  src/components/Note/Note.scss
  src/components/Note/Note.test.tsx
  src/components/Note/Note.tsx
  src/components/Note/__snapshots__/Note.test.tsx.snap
  src/components/NoteDialog/NoteDialog.scss
  src/components/NoteDialog/NoteDialog.tsx
  src/routes/Board/Board.tsx
  src/store/action/note.ts
  src/types/note.ts
Labels: Type: Enhancement, Status: Review Needed

#645 Small improvement for Redux
  src/components/BoardUsers/BoardUsers.tsx
  src/components/MenuBars/MenuBars.tsx
  src/components/Note/Note.tsx
  src/routes/Board/Board.tsx
  src/routes/Board/BoardGuard.tsx
  src/store/index.ts
  src/types/store.ts
Labels: Type: Enhancement, Status: Review Needed

#617 Closes #459: Introduce Helm Chart
  deployment/chart/.gitignore
  deployment/chart/Chart.lock
  deployment/chart/Chart.yaml
  deployment/chart/README.MD
  deployment/chart/templates/_helper.tpl
  deployment/chart/templates/cache/deployment.yaml
  deployment/chart/templates/cache/service.yaml
  deployment/chart/templates/dashboard/configmap.yaml
  deployment/chart/templates/dashboard/deployment.yaml
  deployment/chart/templates/dashboard/ingress.yaml
  deployment/chart/templates/dashboard/secrets.yaml
  deployment/chart/templates/dashboard/service.yaml
  deployment/chart/templates/frontend/deployment.yaml
  deployment/chart/templates/frontend/ingress.yaml
  deployment/chart/templates/frontend/service.yaml
  deployment/chart/templates/livequery/configmap.yaml
  deployment/chart/templates/livequery/deployment.yaml
  deployment/chart/templates/livequery/ingress.yaml
  deployment/chart/templates/livequery/secrets.yaml
  deployment/chart/templates/livequery/service.yaml
  deployment/chart/templates/server/configmap.yaml
  deployment/chart/templates/server/deployment.yaml
  deployment/chart/templates/server/ingress.yaml
  deployment/chart/templates/server/secrets.yaml
  deployment/chart/templates/server/service.yaml
  deployment/chart/values.yaml
  deployment/scrumlr-livequery/deployment.yaml
Labels: Status: Review Needed, Type: Deployment

#567 Closes #196, #576, #580: Implement Menu in the BoardHeader with the ability to hide authors of sticky notes, share the board via qr code and delete the board
  package.json
  server/src/cloud/board.ts
  src/api/board.ts
  src/assets/icon-share.svg
  src/components/Board/Board.tsx
  src/components/BoardHeader/BoardHeader.scss
  src/components/BoardHeader/BoardHeader.tsx
  src/components/BoardHeader/HeaderMenu/HeaderMenu.scss
  src/components/BoardHeader/HeaderMenu/HeaderMenu.test.tsx
  src/components/BoardHeader/HeaderMenu/HeaderMenu.tsx
  src/components/BoardHeader/HeaderMenu/__snapshots__/HeaderMenu.test.tsx.snap
  src/components/Note/Note.test.tsx
  src/components/Note/Note.tsx
  src/components/NoteDialog/NoteDialog.tsx
  src/components/Portal/Portal.scss
  src/components/Portal/Portal.tsx
  src/routes/Board/Board.tsx
  src/store/action/board.ts
  src/store/middleware/board.ts
  src/store/reducer/board.ts
  src/types/board.ts
  yarn.lock
Labels: Type: Enhancement, Status: Review Needed
