Repository inovex/scrumlr.io, pull requests merged in 2022-06, with the labels that each got.

#1751 Change default value of show_hidden_columns
  server/src/database/migrations/sql/1_initial_schema.up.sql
  server/src/database/migrations/sql/2_update_board_sessions_table.down.sql
  server/src/database/migrations/sql/2_update_board_sessions_table.up.sql
Labels: Status: Review Needed

#1753 Ready checkmark animation & avatar circle
  src/assets/icon-check.svg
  src/components/Avatar/Avatar.scss
  src/components/BoardUsers/BoardUser.scss
  src/components/BoardUsers/UserAvatar.tsx
Labels: Status: Review Needed

#1778 Change color of json icon for better visibility/readability
  src/components/SettingsDialog/ExportBoard/ExportBoard.scss
Labels: Status: Review Needed

#1782 Improve hidden column info
  src/components/Column/Column.scss
  src/components/Column/Column.tsx
  src/components/Column/__tests__/Column.test.tsx
  src/components/Column/__tests__/__snapshots__/Column.test.tsx.snap
Labels: Status: Review Needed

#1701 Adjusted font-sizes
  src/components/AccessPolicySelection/AccessPolicySelection.scss
  src/components/AppInfo/AppInfo.scss
  src/components/BoardHeader/BoardHeader.scss
  src/components/BoardHeader/HeaderMenu/BoardOptions/BoardOptionButton.scss
  src/components/BoardHeader/HeaderMenu/BoardSettings/BoardSettings.scss
  src/components/BoardHeader/ParticipantsList/Participant.scss
  src/components/BoardHeader/ParticipantsList/ParticipantsList.scss
  src/components/Column/Column.scss
  src/components/Column/ColumnSettings.scss
  src/components/CookieNotice/CookieNotice.scss
  src/components/CookieNotice/CookiePolicy.scss
  src/components/Dialog/Dialog.scss
  src/components/DotButton/DotButton.scss
  src/components/MenuBars/MenuItem/MenuItem.scss
  src/components/Note/Note.scss
  src/components/NoteDialog/NoteDialogComponents/NoteDialogNoteComponents/NoteDialogNoteContent.scss
  src/components/NoteDialog/NoteDialogComponents/NoteDialogNoteComponents/NoteDialogNoteFooter.scss
  src/components/NoteInput/NoteInput.scss
  src/components/Request/Request.scss
  src/components/SettingsDialog/Appearance/Appearance.scss
  src/components/SettingsDialog/BoardSettings/BoardSettings.scss
  src/components/SettingsDialog/Components/LanguageSettingsDropdown.scss
  src/components/SettingsDialog/Components/SettingsButton.scss
  src/components/SettingsDialog/Participants/Participants.scss
  src/components/SettingsDialog/ProfileSettings/ProfileSettings.scss
  src/components/SettingsDialog/SettingsDialog.scss
  src/components/TextInputLabel/TextInputLabel.scss
  src/components/TimerDialog/TimerDialog.scss
  src/components/ValidationError/ValidationError.scss
  src/components/VotingDialog/VotingDialog.scss
  src/constants/style.scss
  src/index.scss
  src/routes/Board/BoardGuard.scss
  src/routes/Homepage/Homepage.scss
  src/routes/NewBoard/NewBoard.scss
  src/routes/NotFound/NotFound.scss
Labels: Status: Review Needed

#1788 Change behavior of column addition
  src/components/Board/Board.scss
  src/components/Column/Column.scss
  src/components/Column/Column.tsx
  src/components/Column/ColumnSettings.scss
  src/components/Column/ColumnSettings.tsx
  src/constants/misc.ts
  src/store/action/column.ts
  src/store/reducer/columns.ts
Labels: Status: Review Needed

#1793 Fix column scroll on mobile
  src/components/Board/Board.scss
  src/components/Column/Column.scss
Labels: Status: Work In Progress

#1717 Implement feedback form
  public/locales/de/translation.json
  public/locales/en/translation.json
  server/src/api/feedback.go
  server/src/api/info.go
  server/src/api/router.go
  server/src/main.go
  server/src/services/feedback/feedback.go
  server/src/services/services.go
  src/api/feedback.ts
  src/api/info.ts
  src/assets/icon-add-feature.svg
  src/assets/icon-bug.svg
  src/assets/icon-praise.svg
  src/components/SettingsDialog/Appearance/__tests__/__snapshots__/Appearance.test.tsx.snap
  src/components/SettingsDialog/BoardSettings/__tests__/__snapshots__/BoardSettings.test.tsx.snap
  src/components/SettingsDialog/Components/SettingsButton.tsx
  src/components/SettingsDialog/ExportBoard/__tests__/__snapshots__/ExportBoard.test.tsx.snap
  src/components/SettingsDialog/Feedback/Feedback.scss
  src/components/SettingsDialog/Feedback/Feedback.tsx
  src/components/SettingsDialog/Feedback/__tests__/Feedback.test.tsx
  src/components/SettingsDialog/Feedback/__tests__/__snapshots__/Feedback.test.tsx.snap
  src/components/SettingsDialog/Feedback/index.ts
  src/components/SettingsDialog/Participants/__tests__/__snapshots__/Participants.test.tsx.snap
  src/components/SettingsDialog/SettingsDialog.tsx
  src/components/SettingsDialog/ShareSession/ShareSession.scss
  src/constants/style.scss
  src/routes/Router.tsx
  src/store/action/view.ts
  src/store/middleware/view.tsx
  src/store/reducer/view.ts
  src/types/view.ts
  src/utils/test/getTestApplicationState.ts
Labels: Status: Review Needed

#1794 Change timer sounds
  package.json
  public/timer_warning.mp3
  src/components/Timer/Timer.tsx
  yarn.lock
Labels: Status: Review Needed

#1786 Fix voting sorting
  server/src/database/testdata/fixture.yml
  server/src/database/votings.go
  server/src/database/votings_test.go
Labels: Status: Review Needed

#1818 Adjust request dialog z-index
  src/components/Request/Request.scss
  src/constants/style.scss
Labels: Status: Ready to Merge

#1826 Fix dependabot for our server dependencies
  .github/dependabot.yml
Labels: Status: Review Needed

#1829 Fixed logout
  server/src/api/login.go
  server/src/api/login_test.go
Labels: Status: Work In Progress

#1821 Change bottom padding of board settings
  src/components/SettingsDialog/BoardSettings/BoardSettings.scss
Labels: Status: Review Needed

#1873 Fix json export
  src/utils/export.ts
Labels: Status: Review Needed

#1877 Enhance hover & focus styles for Voting-, NoteDialog- and MenuBar- buttons
  src/components/DotButton/DotButton.scss
  src/components/MenuBars/MenuBars.scss
  src/components/MenuBars/MenuItem/MenuItem.scss
  src/components/Note/__tests__/__snapshots__/Note.test.tsx.snap
  src/components/NoteDialog/NoteDialogComponents/NoteDialogNoteComponents/NoteDialogNoteContent.scss
  src/components/NoteDialog/NoteDialogComponents/NoteDialogNoteComponents/NoteDialogNoteContent.tsx
  src/components/NoteDialog/NoteDialogComponents/NoteDialogNoteComponents/NoteDialogOptions/NoteDialogDeleteNoteButton.scss
  src/components/NoteDialog/NoteDialogComponents/NoteDialogNoteComponents/NoteDialogOptions/NoteDialogNoteOptions.scss
  src/components/NoteDialog/NoteDialogComponents/NoteDialogNoteComponents/NoteDialogOptions/NoteDialogUnstackNoteButton.scss
  src/components/NoteDialog/__tests__/NoteDialog.test.tsx
  src/components/NoteDialog/__tests__/__snapshots__/NoteDialog.test.tsx.snap
  src/components/Portal/Portal.tsx
  src/components/Votes/VoteButtons/AddVoteButton.scss
  src/components/Votes/VoteButtons/AddVoteButton.tsx
  src/components/Votes/VoteButtons/RemoveVoteButton.scss
  src/components/Votes/VoteButtons/VoteButton.scss
  src/components/Votes/Votes.scss
Labels: Status: Review Needed

#1695 Avatar Editor
  public/locales/de/translation.json
  public/locales/en/translation.json
  server/src/api/board_sessions.go
  server/src/common/dto/board_sessions.go
  server/src/common/dto/users.go
  server/src/database/board_sessions.go
  server/src/database/migrations/sql/3_add_avatar_column.down.sql
  server/src/database/migrations/sql/3_add_avatar_column.up.sql
  server/src/database/types/avatar.go
  server/src/database/types/avatar/accessories_type.go
  server/src/database/types/avatar/clothe_color.go
  server/src/database/types/avatar/clothe_type.go
  server/src/database/types/avatar/eye_type.go
  server/src/database/types/avatar/eyebrow_type.go
  server/src/database/types/avatar/facial_hair_color.go
  server/src/database/types/avatar/facial_hair_type.go
  server/src/database/types/avatar/graphic_type.go
  server/src/database/types/avatar/hair_color.go
  server/src/database/types/avatar/mouth_type.go
  server/src/database/types/avatar/skin_color.go
  server/src/database/types/avatar/top_type.go
  server/src/database/users.go
  server/src/services/users/users.go
  src/assets/icon-shuffle.svg
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/types.ts
  src/components/BoardHeader/ParticipantsList/Participant.tsx
  src/components/BoardUsers/BoardUsers.tsx
  src/components/BoardUsers/UserAvatar.tsx
  src/components/Note/Note.tsx
  src/components/NoteDialog/NoteDialogComponents/NoteDialogNote.tsx
  src/components/NoteDialog/NoteDialogComponents/NoteDialogNoteComponents/NoteDialogNoteFooter.tsx
  src/components/NoteDialog/__tests__/__snapshots__/NoteDialog.test.tsx.snap
  src/components/Request/Request.tsx
  src/components/SettingsDialog/BoardSettings/BoardSettings.scss
  src/components/SettingsDialog/Components/AvatarSettings.scss
  src/components/SettingsDialog/Components/AvatarSettings.tsx
  src/components/SettingsDialog/Components/SettingsAccordion.scss
  src/components/SettingsDialog/Components/SettingsAccordion.tsx
  src/components/SettingsDialog/Components/SettingsCarousel.scss
  src/components/SettingsDialog/Components/SettingsCarousel.tsx
  src/components/SettingsDialog/ProfileSettings/ProfileSettings.scss
  src/components/SettingsDialog/ProfileSettings/ProfileSettings.tsx
  src/components/SettingsDialog/SettingsDialog.tsx
  src/store/action/auth.ts
  src/store/middleware/auth.tsx
  src/store/reducer/auth.ts
  src/types/auth.ts
  src/types/request.ts
Labels: Type: Feature

#1875 Unset shared note on note / column delete
  server/src/api/router.go
  server/src/database/columns.go
  server/src/database/columns_test.go
  server/src/database/notes.go
  server/src/database/notes_test.go
  server/src/database/testdata/fixture.yml
Labels: Status: Review Needed

#1884 Fix column settings
  src/components/Avatar/Avatar.tsx
Labels: Type: Bug

#1878 new input in settings
  src/components/SettingsDialog/BoardSettings/BoardSettings.scss
  src/components/SettingsDialog/BoardSettings/BoardSettings.tsx
  src/components/SettingsDialog/BoardSettings/__tests__/__snapshots__/BoardSettings.test.tsx.snap
  src/components/SettingsDialog/Components/SettingsInput.scss
  src/components/SettingsDialog/Components/SettingsInput.tsx
  src/components/SettingsDialog/ProfileSettings/ProfileSettings.scss
  src/components/SettingsDialog/ProfileSettings/ProfileSettings.tsx
Labels: Status: Review Needed

#1902 fix: wrongly displayed raisedhand state
  src/components/BoardUsers/BoardUsers.tsx
Labels: Type: Bug, Status: Review Needed

#1906 Bugfix: Update avatar in components
  src/components/Note/Note.tsx
  src/components/NoteDialog/NoteDialog.tsx
  src/components/SettingsDialog/Participants/Participants.tsx
Labels: Status: Review Needed

#1907 Remove hidden columns and notes from the exports
  server/src/api/boards.go
Labels: Status: Review Needed
