Repository inovex/scrumlr.io, pull requests merged in 2022-05, with the labels that each got.

#1647 Visual hint for note dialogues in focused mode
  src/components/Column/Column.tsx
  src/components/Note/Note.tsx
  src/components/NoteDialog/NoteDialog.scss
  src/components/NoteDialog/NoteDialog.tsx
Labels: Status: Review Needed

#1644 Upgrade dependencies
  .eslintrc.json
  package.json
  src/assets/hero/scrumlr-lp-06.svg
  src/assets/hero/scrumlr-lp-07.svg
  src/assets/hero/scrumlr-lp-11.svg
  src/assets/hero/scrumlr-lp-12.svg
  src/assets/hero/scrumlr_actionbar_mod.svg
  src/assets/hero/scrumlr_actionbar_user.svg
  src/components/BoardHeader/HeaderMenu/BoardOptions/BoardOption.tsx
  src/components/BoardHeader/HeaderMenu/BoardOptions/BoardOptionButton.tsx
  src/components/BoardHeader/HeaderMenu/BoardOptions/BoardOptionLink.tsx
  src/components/MenuBars/MenuItem/MenuItem.scss
  src/components/SettingsDialog/Components/SettingsButton.tsx
  src/components/Votes/Votes.scss
  yarn.lock
Labels: Status: Review Needed

#1662 Remove/replace the grooming-green board color to avoid confusing it with the focused mode
  src/components/Board/Board.tsx
  src/components/Column/Column.scss
  src/components/MenuBars/MenuBars.tsx
  src/components/MenuBars/MenuItem/MenuItem.scss
  src/components/MenuBars/MenuItem/MenuToggle.tsx
  src/components/NoteDialog/NoteDialog.scss
  src/constants/style.scss
Labels: Status: Review Needed

#1663 Fix: Horizontal alignment of menu items
  src/components/MenuBars/MenuItem/MenuItem.scss
Labels: Status: Review Needed

#1648 Fix: Menu buttons stay highlighted
  src/components/MenuBars/MenuItem/MenuItem.scss
Labels: Status: Ready to Merge

#1660 Refinement for the board settings menu
  public/locales/de/translation.json
  public/locales/en/translation.json
  server/src/database/migrations/sql/1_initial_schema.up.sql
  src/components/BoardHeader/HeaderMenu/BoardOptions/BoardOptionButton.scss
  src/components/BoardHeader/HeaderMenu/BoardOptions/BoardOptionToggle.scss
  src/components/BoardHeader/HeaderMenu/BoardOptions/ShowAuthorOption.tsx
  src/components/BoardHeader/HeaderMenu/BoardOptions/ShowHiddenColumnsOption.tsx
  src/components/BoardHeader/HeaderMenu/BoardOptions/ShowOtherUsersNotesOption.tsx
  src/components/BoardHeader/HeaderMenu/HeaderMenu.scss
  src/components/BoardHeader/HeaderMenu/__tests__/HeaderMenu.test.tsx
  src/components/BoardHeader/HeaderMenu/__tests__/__snapshots__/HeaderMenu.test.tsx.snap
  src/components/SettingsDialog/BoardSettings/BoardSettings.tsx
  src/components/SettingsDialog/BoardSettings/__tests__/__snapshots__/BoardSettings.test.tsx.snap
  src/components/SettingsDialog/Components/SettingsButton.scss
Labels: Status: Review Needed

#1664 New columns should be added as hidden
  public/locales/de/translation.json
  public/locales/en/translation.json
  src/components/Column/Column.scss
  src/components/Column/Column.tsx
  src/components/Column/ColumnSettings.tsx
  src/components/Column/__tests__/__snapshots__/Column.test.tsx.snap
Labels: Status: Review Needed

#1666 Fix: User remains in moderation mode after revoking rights
  src/store/reducer/view.ts
Labels: Status: Ready to Merge

#1658 Naming of password protection settings
  public/locales/de/translation.json
  public/locales/en/translation.json
  src/components/SettingsDialog/BoardSettings/BoardSettings.scss
  src/components/SettingsDialog/BoardSettings/BoardSettings.tsx
  src/components/SettingsDialog/BoardSettings/__tests__/__snapshots__/BoardSettings.test.tsx.snap
  src/components/SettingsDialog/ExportBoard/ExportBoard.tsx
  src/components/SettingsDialog/ExportBoard/__tests__/__snapshots__/ExportBoard.test.tsx.snap
  src/components/SettingsDialog/Participants/Participants.tsx
  src/components/SettingsDialog/Participants/__tests__/__snapshots__/Participants.test.tsx.snap
  src/components/SettingsDialog/SettingsDialog.scss
  src/constants/misc.ts
  src/constants/style.scss
  src/utils/Toast.tsx
Labels: Status: Review Needed

#1651 Moved from hard-coded css values to global scss variables
  src/components/AccessPolicySelection/AccessPolicySelection.scss
  src/components/AppInfo/AppInfo.scss
  src/components/BoardHeader/BoardHeader.scss
  src/components/BoardHeader/HeaderMenu/BoardOptions/BoardOption.scss
  src/components/BoardHeader/HeaderMenu/BoardOptions/BoardOptionButton.scss
  src/components/BoardHeader/HeaderMenu/BoardSettings/BoardSettings.scss
  src/components/BoardHeader/ParticipantsList/Participant.scss
  src/components/BoardHeader/ParticipantsList/ParticipantsList.scss
  src/components/BoardUsers/BoardUser.scss
  src/components/BoardUsers/BoardUsers.scss
  src/components/Button/Button.scss
  src/components/Column/Column.scss
  src/components/Column/ColumnSettings.scss
  src/components/ConfirmationDialog/ConfirmationDialog.scss
  src/components/CookieNotice/CookieNotice.scss
  src/components/CookieNotice/CookiePolicy.scss
  src/components/Dialog/Dialog.scss
  src/components/DotButton/DotButton.scss
  src/components/Dropdown/Dropdown.scss
  src/components/Infobar/Infobar.scss
  src/components/LoadingIndicator/LoadingIndicator.scss
  src/components/MenuBars/MenuBars.scss
  src/components/MenuBars/MenuItem/MenuItem.scss
  src/components/Note/Note.scss
  src/components/NoteDialog/NoteDialogComponents/NoteDialogNote.scss
  src/components/NoteDialog/NoteDialogComponents/NoteDialogNoteComponents/NoteDialogNoteContent.scss
  src/components/NoteDialog/NoteDialogComponents/NoteDialogNoteComponents/NoteDialogNoteFooter.scss
  src/components/NoteDialog/NoteDialogComponents/NoteDialogNoteComponents/NoteDialogOptions/NoteDialogNoteOptions.scss
  src/components/NoteInput/NoteInput.scss
  src/components/Request/Request.scss
  src/components/ScrumlrLogo/ScrumlrLogo.scss
  src/components/SettingsDialog/Appearance/Appearance.scss
  src/components/SettingsDialog/BoardSettings/BoardSettings.scss
  src/components/SettingsDialog/Components/LanguageSettingsDropdown.scss
  src/components/SettingsDialog/Components/SettingsButton.scss
  src/components/SettingsDialog/Participants/Participants.scss
  src/components/SettingsDialog/ProfileSettings/ProfileSettings.scss
  src/components/SettingsDialog/SettingsDialog.scss
  src/components/SettingsDialog/ShareSession/ShareSession.scss
  src/components/TextInput/TextInput.scss
  src/components/TextInputAction/TextInputAction.scss
  src/components/Timer/Timer.scss
  src/components/TimerDialog/TimerDialog.scss
  src/components/Toggle/Toggle.scss
  src/components/ValidationError/ValidationError.scss
  src/components/Votes/VoteDisplay/VoteDisplay.scss
  src/components/VotingDialog/VotingDialog.scss
  src/constants/style.scss
  src/index.scss
  src/routes/Board/BoardGuard.scss
  src/routes/Homepage/Homepage.scss
  src/routes/LoginBoard/LoginBoard.scss
  src/routes/NewBoard/NewBoard.scss
Labels: Status: Ready to Merge

#1697 Several minor updates
  .env
  Dockerfile
  README.md
  nginx.conf
  package.json
  public/index.html
  public/locales/de/translation.json
  public/locales/en/translation.json
  scripts/hash-locales.sh
  server/src/Dockerfile
  src/config.ts
  src/i18n.ts
  src/routes/Homepage/Homepage.scss
  src/routes/Homepage/Homepage.tsx
  yarn.lock
Labels: Status: Review Needed

#1709 Closes #1690: Proper QR code theming
  src/components/SettingsDialog/ShareSession/ShareSession.scss
  src/components/SettingsDialog/ShareSession/ShareSession.tsx
  src/components/SettingsDialog/ShareSession/__tests__/__snapshots__/ShareSession.test.tsx.snap
Labels: Status: Ready to Merge

#1715 Fix width of cookie consent on larger screens
  src/components/CookieNotice/CookieNotice.scss
Labels: Type: Bug, Status: Review Needed
