Repository inovex/scrumlr.io, pull requests merged in 2022-03, with the labels that each got.

#1408 NotFound page
  src/routes/NotFound/NotFound.scss
  src/routes/NotFound/NotFound.tsx
  src/routes/NotFound/__tests__/NotFound.test.tsx
  src/routes/NotFound/__tests__/__snapshots__/NotFound.test.tsx.snap
  src/routes/NotFound/index.ts
  src/routes/Router.tsx
Labels: Status: Review Needed

#1458 Portal Refactor
  src/components/BoardHeader/HeaderMenu/HeaderMenu.scss
  src/components/BoardHeader/HeaderMenu/HeaderMenu.tsx
  src/components/BoardHeader/ParticipantsList/ParticipantsList.scss
  src/components/BoardHeader/ParticipantsList/ParticipantsList.tsx
  src/components/CookieNotice/CookieNotice.tsx
  src/components/CookieNotice/CookiePolicy.tsx
  src/components/Note/__tests__/__snapshots__/Note.test.tsx.snap
  src/components/NoteDialog/NoteDialog.scss
  src/components/NoteDialog/NoteDialog.tsx
  src/components/NoteDialog/__tests__/NoteDialog.test.tsx
  src/components/NoteDialog/__tests__/__snapshots__/NoteDialog.test.tsx.snap
  src/components/Portal/Portal.scss
  src/components/Portal/Portal.tsx
  src/utils/hooks/useWindowEvent.ts
Labels: Status: Review Needed

#1431 Dialogs
  public/locales/de/translation.json
  public/locales/en/translation.json
  src/assets/icon-five.svg
  src/assets/icon-minus.svg
  src/assets/icon-one.svg
  src/assets/icon-plus.svg
  src/assets/icon-three.svg
  src/components/Board/Board.tsx
  src/components/Dialog/Dialog.scss
  src/components/Dialog/Dialog.tsx
  src/components/Dialog/__tests__/Dialog.test.tsx
  src/components/Dialog/__tests__/__snapshots__/Dialog.test.tsx.snap
  src/components/Dialog/index.ts
  src/components/MenuBars/MenuBars.tsx
  src/components/MenuBars/MenuItem/DropdownToggleButton.scss
  src/components/MenuBars/MenuItem/DropdownToggleButton.tsx
  src/components/MenuBars/MenuItem/variants/TimerToggleButton.scss
  src/components/MenuBars/MenuItem/variants/TimerToggleButton.tsx
  src/components/MenuBars/MenuItem/variants/VoteConfigurationButton.scss
  src/components/MenuBars/MenuItem/variants/VoteConfigurationButton.tsx
  src/components/MenuBars/__tests__/__snapshots__/MenuBars.test.tsx.snap
  src/components/TimerDialog/TimerDialog.scss
  src/components/TimerDialog/TimerDialog.tsx
  src/components/TimerDialog/__tests__/TimerDialog.test.tsx
  src/components/TimerDialog/__tests__/__snapshots__/TimerDialog.test.tsx.snap
  src/components/TimerDialog/index.ts
  src/components/Toggle/Toggle.scss
  src/components/VotingDialog/VotingDialog.scss
  src/components/VotingDialog/VotingDialog.tsx
  src/components/VotingDialog/__tests__/VotingDialog.test.tsx
  src/components/VotingDialog/__tests__/__snapshots__/VotingDialog.test.tsx.snap
  src/components/VotingDialog/index.ts
  src/routes/Router.tsx
Labels: Status: Work In Progress

#1504 Change Board Timer
  server/src/.vscode/launch.json
  server/src/api/boards.go
  server/src/api/context.go
  server/src/api/login.go
  server/src/api/router.go
  server/src/common/dto/boards.go
  server/src/database/boards.go
  server/src/database/boards_observer.go
  server/src/realtime/boards.go
  server/src/services/boards/boards.go
  server/src/services/services.go
  src/api/board.ts
  src/components/Infobar/Infobar.tsx
  src/components/TimerDialog/TimerDialog.tsx
  src/store/action/board.ts
  src/store/middleware/board.ts
  src/store/reducer/board.ts
  src/types/board.ts
  src/types/websocket.ts
Labels: Status: Work In Progress

#1461 Settingsdialog - boardSettings & appearance & participants
  public/locales/de/translation.json
  public/locales/en/translation.json
  src/assets/flags/DE.svg
  src/assets/flags/US.svg
  src/assets/flags/readme.md
  src/assets/icon-lock.svg
  src/components/BoardHeader/HeaderMenu/BoardSettings/BoardSettings.scss
  src/components/BoardHeader/HeaderMenu/BoardSettings/BoardSettings.tsx
  src/components/BoardHeader/ParticipantsList/ParticipantsList.scss
  src/components/Column/Column.scss
  src/components/ConfirmationDialog/ConfirmationDialog.scss
  src/components/ConfirmationDialog/ConfirmationDialog.tsx
  src/components/NoteDialog/NoteDialogComponents/NoteDialogNoteWrapper.scss
  src/components/SettingsDialog/Appearance/Appearance.scss
  src/components/SettingsDialog/Appearance/Appearance.tsx
  src/components/SettingsDialog/Appearance/__tests__/Appearance.test.tsx
  src/components/SettingsDialog/Appearance/__tests__/__snapshots__/Appearance.test.tsx.snap
  src/components/SettingsDialog/Appearance/index.ts
  src/components/SettingsDialog/BoardSettings/BoardSettings.scss
  src/components/SettingsDialog/BoardSettings/BoardSettings.tsx
  src/components/SettingsDialog/BoardSettings/__tests__/BoardSettings.test.tsx
  src/components/SettingsDialog/BoardSettings/__tests__/__snapshots__/BoardSettings.test.tsx.snap
  src/components/SettingsDialog/BoardSettings/index.ts
  src/components/SettingsDialog/Components/LanguageSettingsDropdown.scss
  src/components/SettingsDialog/Components/LanguageSettingsDropdown.tsx
  src/components/SettingsDialog/Components/SettingsButton.scss
  src/components/SettingsDialog/Components/SettingsButton.tsx
  src/components/SettingsDialog/Components/SettingsToggle.scss
  src/components/SettingsDialog/Components/SettingsToggle.tsx
  src/components/SettingsDialog/ExportBoard/ExportBoard.scss
  src/components/SettingsDialog/ExportBoard/ExportBoard.tsx
  src/components/SettingsDialog/ExportBoard/__test__/__snapshots__/ExportBoard.test.tsx.snap
  src/components/SettingsDialog/Participants/Participants.scss
  src/components/SettingsDialog/Participants/Participants.tsx
  src/components/SettingsDialog/Participants/__tests__/Participants.test.tsx
  src/components/SettingsDialog/Participants/__tests__/__snapshots__/Participants.test.tsx.snap
  src/components/SettingsDialog/Participants/index.ts
  src/components/SettingsDialog/SettingsDialog.scss
  src/components/SettingsDialog/SettingsDialog.tsx
  src/constants/style.scss
  src/i18n.ts
  src/routes/Router.tsx
Labels: Action: Deploy PR

#1518 Replace version string by hash on build
  package.json
  scripts/hash-locales.sh
  src/i18n.ts
Labels: Status: Review Needed
