Repository inovex/scrumlr.io, pull requests merged in 2023-11, with the labels that each got.

#3374 feat: record metrics of deleted boards
  server/src/database/migrations/sql/9_add_analytics_board_deletion_trigger.down.sql
  server/src/database/migrations/sql/9_add_analytics_board_deletion_trigger.up.sql
Labels: Review Needed

#3544 hotfix: tooltip not disappearing
  src/components/TooltipPortal/TooltipPortal.scss
Labels: Hotfix

#3540 fix: Settings Bugfixes
  src/components/SettingsDialog/Appearance/Appearance.scss
  src/components/SettingsDialog/BoardSettings/BoardSettings.scss
  src/components/SettingsDialog/ProfileSettings/ProfileSettings.scss
  src/components/SettingsDialog/SettingsDialog.scss
Labels: Review Needed, Fix

#3580 improvement: extended cli to read in config files
  server/config_example.toml
  server/src/go.mod
  server/src/go.sum
  server/src/main.go
Labels: Review Needed

#3584 Fix: Two hotfixes
  src/components/Column/Column.tsx
  src/components/Note/Note.tsx
  src/components/Note/NoteAuthorList/NoteAuthorList.tsx
  src/store/middleware/board.tsx
Labels: Hotfix
