Repository inovex/scrumlr.io, pull requests merged in 2024-01, with the labels that each got.

#3736 style: switch button in pop up
  src/components/ConfirmationDialog/ConfirmationDialog.scss
  src/components/ConfirmationDialog/ConfirmationDialog.tsx
  src/components/ConfirmationDialog/__tests__/__snapshots__/ConfirmationDialog.test.tsx.snap
Labels: Review Needed

#3738 style: move action bars closer to border
  src/components/MenuBars/MenuBars.scss
Labels: Review Needed

#3729 improvement: Revise Not Found Page
  src/assets/stan/Stan_404_Mobile_Dark.svg
  src/assets/stan/Stan_404_Mobile_Light.svg
  src/assets/stan/Stan_404_Web_Dark.svg
  src/assets/stan/Stan_404_Web_Light.svg
  src/routes/NotFound/NotFound.test.tsx
  src/routes/NotFound/__snapshots__/NotFound.test.tsx.snap
  src/routes/NotFound/__tests__/NotFound.test.tsx
Labels: Review Needed

#3712 improvement: Revise Rejection Page
  public/locales/de/translation.json
  public/locales/en/translation.json
  src/assets/stan/Stan_Toilette_Dark.svg
  src/assets/stan/Stan_Toilette_Light.svg
  src/components/RejectionPage/RejectionPage.scss
  src/components/RejectionPage/RejectionPage.test.tsx
  src/components/RejectionPage/RejectionPage.tsx
  src/components/RejectionPage/__snapshots__/RejectionPage.test.tsx.snap
  src/components/RejectionPage/index.tsx
  src/routes/Board/BoardGuard.tsx
Labels: Review Needed

#3740 feature: increment timer by one minute
  server/api.postman_collection.json
  server/src/api/boards.go
  server/src/api/router.go
  server/src/services/boards/boards.go
  server/src/services/services.go
Labels: Review Needed, Backend

#3779 chore: remove assignments code
  server/src/api/assignments.go
  server/src/api/boards.go
  server/src/api/boards_listen_on_board.go
  server/src/api/context.go
  server/src/api/event_filter.go
  server/src/api/event_filter_test.go
  server/src/api/router.go
  server/src/common/dto/assignments.go
  server/src/database/assignments.go
  server/src/database/assignments_observer.go
  server/src/database/assignments_observer_test.go
  server/src/database/assignments_test.go
  server/src/database/database.go
  server/src/database/database_test.go
  server/src/database/migrations/sql/11_remove_note_assignments.down.sql
  server/src/database/migrations/sql/11_remove_note_assignments.up.sql
  server/src/database/testdata/fixture.yml
  server/src/main.go
  server/src/realtime/boards.go
  server/src/services/assignments/assignments.go
  server/src/services/boards/boards.go
  server/src/services/services.go
  src/api/assignment.ts
  src/api/index.ts
  src/store/action/assignment.ts
  src/store/action/board.ts
  src/store/action/index.ts
  src/store/index.ts
  src/store/middleware/assignment.ts
  src/store/middleware/board.tsx
  src/store/reducer/assignment.ts
  src/types/assignment.ts
  src/types/index.ts
  src/types/websocket.ts
  src/utils/test/getTestApplicationState.ts
Labels: Review Needed

#3770 feature: ban participants – backend
  server/api.postman_collection.json
  server/src/api/boards.go
  server/src/api/context.go
  server/src/api/router.go
  server/src/common/dto/board_sessions.go
  server/src/common/error.go
  server/src/database/board_sessions.go
  server/src/database/board_sessions_test.go
  server/src/database/migrations/sql/12_add_banned_column.down.sql
  server/src/database/migrations/sql/12_add_banned_column.up.sql
  server/src/services/boards/sessions.go
  server/src/services/services.go
Labels: Review Needed

#3793 fix: board reactions stack view visibility
  src/components/BoardReactionContainer/BoardReactionContainer.scss
  src/constants/style.scss
Labels: Fix

#3786 test: postman e2e
  .github/workflows/continuous-integration.yml
  .github/workflows/postman_e2e_test.yml
  server/api.postman_collection.json
Labels: Review Needed
